* {
    padding: 5;
    box-sizing: border-box;
}

html{
    font-size: 1rem;
    height: 100%;
}

header, main, footer {    
    min-height: 50px;
    margin: 0.2rem 0.2rem;    
    min-width: 400 px; 
}

body {
    background-color: #EDECED;
    font-family: 'Frank Ruhl Libre', serif; 
    font-size: 150%;
    min-height: 50px;
    margin: 0.5rem ;    
    min-width: 400 px; 
}

main {
    min-height: 500px;
    overflow: auto;
    border: #EDECED;
}

header {
    background-color: #EDECED;
    font-size: 2%;    
    border: 3px #F85454 solid;
    display: flex;
    flex-flow: column wrap;
    align-items: center;       
}

.header-logo {
    min-width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center; 
}

.header-menubar {   
    margin: 0.5rem 0.5rem  0.5rem 0rem;    
}

.header-menubar ul {
    list-style: none;    
}

.header-menubar li {
    display: inline-flex;    
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.header-menubar a {
    text-decoration: none;
    color: black
}

.header-menubar a:hover {
    color: #F85454; 
}

footer {
    background-color: #FFF;
    border: #FFF;   
	color:rgb(8, 8, 8);    
	padding: 10px;
	text-align: right;
    display: flex;
    flex-direction: row;  
    justify-content: flex-end;
    padding-right: 5%;
}

.fa-brands {   
    font-size: 150%;
    padding-top: 70%;
    margin-left: 50%;    
}

@media (min-width: 412px) {
main>div { 
    min-height: 180px;
    margin: 0.5 rem;     
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;    
    padding-bottom: 7%;
}

main>aside {   
    padding-top: 0%;    
    display: flex;   
}

.secciones {    
    min-height: 50px;    
    width: 100%;    
    padding-left: 5%; 
    padding-top: 2%;  
    padding-bottom: 0%; 
}

.secciones article {    
    min-height: 50px;
    margin: 0.5 rem; 
    text-align: left;     
    padding-top:0%;
}

.subscription {
    border: 3px #EDECED solid;
    background-color:#F85454;
    min-height: 50px;
    min-width: 20px;
    text-align: center;  
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden; 
}

.subscription :hover {
    background-color: #f7dddd;
}

    .divcontact {  
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        float: left;
        overflow: hidden;
        padding-left: 0%;
        padding-right: 0%;
        height: 100%;
    }

    .divform { 
        width: fit-content;
        text-align: left;    
        padding-left: 6%;
        font-size: 110%;    
        overflow: hidden;    
    }

    #formulario input{
        text-align: left;    
        min-height: 50%;
        max-width: 60%;
        font-size: 90%;   
    }

    #formulario #mensaje {
        text-align: left;
    }

    .divimage {          
        display: flex; 
        align-items: flex-end;       
        padding-top: 2rem; 
        overflow: hidden;   
        
    }
}

@media (min-width: 820px) {   
    main>div {    
        min-height: 180px;
        margin: 0.5 rem;    
        display: flex;
        flex-direction: column; 
        float: left;
        width: 100%;
    }
    
    main>aside { 
        max-width: 5%;
        padding-top: 40%;
        float: right;    
        padding: 3%;    
    }
    
    .secciones {           
        min-height: 50px;    
        width: 100%;    
        padding-left: 5%; 
        padding-top: 2%;  
        padding-bottom: 5%; 
    }
    
    .secciones article {    
        min-height: 50px;
        margin: 0.5 rem; 
        text-align: left;     
        padding-top:0%;
    }
    
    .subscription {
        border: 3px #EDECED solid;
        background-color:#F85454;
        min-height: 50px;
        min-width: 20px;
        text-align: center;  
        padding-left: 15%;
        padding-right: 15%;
        overflow: hidden; 
    }
    
    .subscription :hover {
        background-color: #f7dddd;
    }

    .divcontact {      
        max-width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        float: left;
        overflow: hidden;        
    }

    .divform {           
        text-align: left;    
        margin-left: 0.5rem;
        font-size: 100%;
        width: 70%;
    }

    #formulario input{
        text-align: left;    
        min-height: 50%;        
        font-size: 100%; 
        max-width: 90%;    
    }

    #formulario #mensaje {
        text-align: left;
        max-width: 100%;        
    }

    .divimage {            
        display: flex; 
        justify-content: center;
        padding-right: 10rem;
        padding-top: 5%;
    }
}

@media (min-width: 1366px) {
    main>div {    
        min-height: 180px;           
        float: left;
        width: 100%;
        display: flex;
        flex-direction: row;       
        padding-right: 3% ;
    }
    
    .contenido-ppal aside {            
        padding-top: 2%;       
    }
    
    .secciones {    
        min-height: 50px;    
        width: 100%;    
        padding-left: 3%; 
        padding-top: 0%;  
        padding-bottom: 5%; 
    }
    
    .secciones article {    
        min-height: 50px;
        margin: 0.5 rem; 
        text-align: left;     
        padding-top:0%;
    }
    
    .subscription {
        border: 3px #EDECED solid;
        background-color:#F85454;
        min-height: 50px;
        min-width: 20px;
        text-align: center;  
        padding-left: 15%;
        padding-right: 15%;
        overflow: hidden; 
    }
    
    .subscription :hover {
        background-color: #f7dddd;
    }
    
    .divcontact {
        max-width: 1350px;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        float: left;
        overflow: hidden;      
    }

    .divform { 
        width: 600px;
        text-align: left;    
        margin-left: 5rem;
        font-size: 120%;            
    }

    #formulario input{
        text-align: left;    
        min-height: 50%;
        font-size: 100%;   
    }

    #formulario #mensaje {
        text-align: left;
    }
   
    .divimage {           
        display: flex;
        align-items: right;
        padding-top: 4%;             
        width: fit-content;   
    }
}